<!DOCTYPE html>
<html>

	{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		{% for post in site.posts %}
		<a href = "{{ post.url  | relative_url }}">
			<div class="box">
				<header class="major">
					<h1>{{ post.title }}</h1>
				</header>
				{% if post.date %}<p>{{ post.date | date_to_string}}</p>{% endif %}
				<p>{{ post.content | strip_html | truncatewords: 100 }}</p>
			</div>
		</a>
		{% endfor %}
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>
